* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.banner-md, .banner-sm {
    display: none;
}

main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h1 {
    padding: 10px 20px;
}

h2 {
    padding: 10px 0;
}

form {
    padding: 10px 20px;
}

label {
    display: block;
}

input {
    height: 2em;
    width: 250px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

input[type=text]:focus {
    border: 2px solid blue;
}

#formButton, #clearInput {
    padding: 10px 10px;
    margin: 20px 10px 10px 0;
    font-size: large;
    font-weight: bold;
    background-color: pink;
    border-radius: 5px;
    border: 1px solid black;
}

footer {
    margin: 0 auto;
    background-color: rgb(0, 78, 146);
    text-align: center;
    padding: 30px;
}

footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
    .banner-md {
        max-width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: block;
    }

    .banner, .banner-sm {
        display: none;
    }

    main {
        width: 95%;
        margin: 0 auto;
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
    }
    
  }

@media only screen and (max-width: 600px) {
    .banner-sm {
        max-width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: block;
    }

    .banner, .banner-md {
        display: none;
    }
    
    main {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
    }

  }